name: 东东农场

on:
  workflow_dispatch:
  schedule:
    - cron: '5 4,10,22 * * *'
  # watch:
  #   types: started
  repository_dispatch:
    types: jd_fruit
    
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}
          ref: 'master'
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '12'
      - name: install npm
        run: npm install
      - name: '运行 【东东农场】'
        run: |
             node jd_fruit.js
        env:
          JD_COOKIE: ${{ secrets.JD_COOKIE }}
          JD_DEBUG: ${{ secrets.JD_DEBUG }}
          PUSH_KEY: ${{ secrets.PUSH_KEY }}
          FRUITSHARECODES: ${{ secrets.FRUITSHARECODES }}
          FRUIT_BEAN_CARD: ${{ secrets.FRUIT_BEAN_CARD }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_USER_ID: ${{ secrets.TG_USER_ID }}
          FRUIT_NOTIFY_CONTROL: ${{ secrets.FRUIT_NOTIFY_CONTROL }}
