
name: 京东萌宠

on:
  workflow_dispatch:
  schedule:
    - cron: '35 23,4,10 * * *'
  # watch:
  #   types: started
  repository_dispatch:
    types: jd_pet
jobs:
  build:

    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
      - uses: actions/checkout@v2
        with:
          repository: 'lxk0301/jd_scripts'
          ref: 'master'
      - name: Setup node
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - run: npm install
      - name: '运行 【京东萌宠】'
        run: |
             node jd_pet.js
        env:
          JD_COOKIE: ${{ secrets.JD_COOKIE }}
          JD_DEBUG: ${{ secrets.JD_DEBUG }}
          PUSH_KEY: ${{ secrets.PUSH_KEY }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_USER_ID: ${{ secrets.TG_USER_ID }}
          PETSHARECODES: ${{ secrets.PETSHARECODES }}
          PET_NOTIFY_CONTROL: ${{ secrets.PET_NOTIFY_CONTROL }}
